header {
background: #2e354f;
padding: 40px 0;
color:#fff;
font-size: 1.2rem;
}

.container1 {
    width:90%;
    max-width: 620px;
    margin: 0 auto;
    border: 2px solid magenta;
}
/*em are relative to their parent's font size*/
.button {
    display: inline-block;
    background: #ffe600;
    color: black;
    padding: .5em 1.25em;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.button:hover {
    background: orange;
}

.btn-big {
    font-size: 1.5rem;
}

.btn-small {
    font-size: .75rem;
}